h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.robot
{
	flex-wrap: wrap;

	display:flex;
	justify-content: center;
}

.head
{
	width:150px;
	height: 150px;
	background-color: yellow;
	margin: 0 auto; 

}

.eyes
{
position: relative;
top:50px;
left:40px;
}
.eyes
{
		display: flex;
	
}
.left_eye
{

	width:30px;
	height: 30px;
	background-color: orange;
	
	margin-right: 20px;

}
.right_eye
{
	width:30px;
	height: 30px;
	background-color: orange;

}


.upper_body
{
	width:200px;
	height: 200px;
	background-color: red;
	display: flex;

}


.left_arm
{
	width:40px;
	height:100px;
	background-color: blue;

	

}


.torso
{
width:100px;
	height:200px;
	background-color: green;	

}


.right_arm
{
		width:40px;
	height:100px;
	background-color: blue;

	
}