body
{
	background-image:url("sharon-mccutcheon-532782-unsplash.jpg");
	background-size: cover;
	
}
*
{
	font-style: italic;
}

#form 
{
  background-color:rgba(0,0,255,0.2);
  border:solid black 5px ;
  border-radius: 30px;
   width:50%;
   position: relative;
   top:130px;
   left:40px;
  


}
#form input
{
	position: relative;
	left:100px;
}
#form h1
{
	font-family: cursive;
	text-align: center;
	color:rgba(0,0,255);

	font-weight: normal;
}

